.recipe-pages {
  height: auto;
  /* background-color: yellow; */
  display: flex;
  background-color: rgb(249, 244, 244);
  padding: 0rem 15rem;
  /* height: auto; */
  flex-direction: column;
  /* width: 75rem; */
}

.individual-post__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex-wrap: wrap;
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  /* height: 90vh; */
  /* grid-gap: 10rem; */
  height: auto;
  /* width: 100rem; */
  /* width: 75rem; */
  padding-bottom: 5rem;
  /* background-color: yellow; */
}

.individual-post__inner-wrapper {
  width: 80rem;
  /* background-color: rgba(173, 255, 47, 0.5); */
  border-radius: 3px;
  padding: 2rem;
  justify-content: center;
  align-items: center;
}

.individual-post__title {
  font-size: 5rem;
  color: red;
  /* background-color: yellow; */
  padding: 2rem 0rem;
  /* width: 75rem; */
}

.individual-post__opening-text {
  font-size: 2rem;
  /* background-color: greenyellow; */
  padding: 2rem 0rem;
  text-align: justify;
  /* text-justify: inter-word; */
  text-justify: auto;
  width: auto;
}

.individual-post__img-wrapper {
  width: auto;
}

.individual-recipe__img {
  width: 75rem;
  object-fit: cover;
  /* object-fit: contain; */
  height: 40vw;
  justify-content: center;
  align-items: center;

  border-radius: 3px;
}

.individual-post__steps {
  /* background-color: aquamarine; */
  padding: 2rem 0rem;
  width: 75rem;
}

.recipe-steps {
  display: inline;
  font-size: 2rem;
  width: 75rem;
}

.individual-post__ingredients-wrapper {
  height: 20rem;
  /* background-color: pink; */
  padding-bottom: 5rem;
  height: auto;
}

.individual-post__ingredients-name {
  font-size: 2rem;
}
