.recipes__container {
  display: flex;
  position: relative;
  background-color: rgb(249, 244, 244);
  /* background-color: red; */
  padding: 0rem 15rem 0rem 15rem;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.recipes__wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
  align-items: center;
  width: 100%;
  /* background-color: green; */
}

.recipes-search__wrapper {
  padding-top: 3rem;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100%;
  width: 40rem;
  margin-bottom: -4rem;
}

.recipes__title {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 4rem;
  padding-top: 2.5rem;
  font-weight: 500;
  font-family: "Dancing Script", cursive;
}

.recipes__all-container {
  height: 100%;
  width: 100%;
  /* background-color: yellow; */
}

.recipes__all-title {
  font-size: 2.5rem;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 2rem;
  color: orange;
}

.recipe__menu-icon {
  font-size: 2.2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgba(69, 176, 12, 1);
}

.recipes__all-list-wrapper {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* background-color: blueviolet; */
}

.recipes__list-parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-top: 2rem;
  height: auto;
}

.recipes__list {
  height: auto;
  font-size: 2rem;
  z-index: 1000;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* background-color: green; */
}

.recipes__img {
  width: 28rem;
  object-fit: cover;
  height: 28rem;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.recipes__list-name {
  margin: 1rem 0;
  font-size: 2.2rem;
  font-weight: 500;
  text-decoration: none;
  color: black;
}
.recipes__list-name:link,
.recipes__list-name:visited {
  text-decoration: none;
  color: black;
  text-decoration: none;
}

.recipes__list-link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  /* height: 100%;
  width: 100%; */
  /* background-color: yellow; */
}

.recipes__list:hover {
  transition: opacity 0.3s ease-in-out;
  opacity: 0.6;
  cursor: pointer;
}

.pagination-container {
  text-decoration: none;
  margin: 3rem 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.pagination {
  display: flex;
  flex-direction: row;
  list-style: none;
  list-style: none;
  text-align: center;
  text-decoration: none;

  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  color: green;
}

.page-item {
  margin-left: 2rem;
  width: 4rem;
  background-color: rgb(207, 204, 204);
  border-radius: 3px;
}

.activePage {
  background-color: orange;
}

.page-link {
  font-size: 3rem;

  color: black;
  text-decoration: none;
  padding: 1rem;
}

.active-page-link {
  color: white;
}

/* .page-link.active {
  color: orange;
  background-color: red;
} */

/* .page-link:link,
.page-link:hover,
.page-link:active,
.page-link:focus {
  color: white;
} */

/* .page-item:link,
.page-item:hover,
.page-item:active,
.page-item:focus-within,
.page-item:focus-visible {
  background-color: green;
} */

@media screen and (max-width: 1400px) and (min-width: 1161px) {
}

@media screen and (max-width: 1161px) {
}

@media screen and (max-width: 1024px) and (min-width: 1001px) {
}

@media screen and (max-width: 1001px) {
  .recipes__container {
    padding: 0rem 1rem 0rem 1rem;
  }

  .recipes__wrapper {
  }

  .recipes__list-parent {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .recipes__list-name {
    margin: 1rem 1rem;
    font-size: 1.3rem;
    font-weight: 500;
  }
}

@media screen and (max-width: 768px) {
  .recipes__list-parent {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    /* background-color: yellow; */
    width: 100%;
    height: 100%;
    margin-top: 2rem;
  }

  .recipes__list {
    position: relative;
    /* height: 100%; */
    font-size: 2rem;
    z-index: 1000;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* background-color: green; */
  }

  .recipes__img {
    object-fit: cover;
    width: 41vw;
    height: 40vw;

    padding: 0rem 0;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
  }
}

@media screen and (max-width: 568px) {
}

@media screen and (max-width: 451px) {
  .recipes-search__wrapper {
    padding-top: 1rem;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
    width: 100%;
    margin-bottom: -4rem;
  }
}

@media screen and (max-width: 362px) {
}

@media screen and (max-width: 281px) and (max-height: 654px) {
}
