.recipes__container {
  display: flex;

  background-color: rgb(249, 244, 244);
  /* background-color: yellow; */
  padding: 0rem 15rem 0rem 15rem;
  /* height: 90vh; */

  flex-direction: column;
  /* justify-content: center;
    align-items: center; */
  /* width: auto; */
  height: 220vh;
}

.recipes__wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  width: 100%;
}

.recipes-search__wrapper {
  padding-top: 3rem;
  align-items: center;
  justify-content: center;
  display: flex;
  /* background-color: rgba(230, 230, 230, 1); */
  height: auto;
  /* background-color: blue; */
}

.recipes__title {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 4rem;
  padding-top: 2.5rem;
  font-weight: 500;
  font-family: "Dancing Script", cursive;
}

.recipes__all-container {
  height: 100%;
  /* background-color: blueviolet; */
  width: 100%;
}

.recipes__all-title {
  font-size: 2.5rem;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 2rem;
  color: orange;
}

.recipe__menu-icon {
  font-size: 2.2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgba(69, 176, 12, 1);
}

.recipes__all-list-wrapper {
  height: 25vh;
  /* background-color: red; */
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.recipes__list-parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-top: 2rem;

  height: auto;
}

.recipes__list {
  /* border: 1px solid black; */
  height: auto;
  font-size: 2rem;
  z-index: 1000;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* background-color: aquamarine; */
}

.recipes__img {
  width: 19vw;
  object-fit: cover;
  /* object-fit: contain; */
  height: 19vw;
  justify-content: center;
  align-items: center;
}

.recipes__list-name {
  margin: 1rem 0;
  font-size: 2.2rem;
  font-weight: 500;
}

.recipes__list:hover {
  transition: opacity 0.3s ease-in-out;
  opacity: 0.6;
  cursor: pointer;
}

.pagnation-container {
  text-decoration: none;
  /* background-color: pink; */
  /* width: 20rem;
  justify-content: center;
  align-items: center;
  text-align: center; */
  margin: 3rem 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.pagination {
  display: flex;
  flex-direction: row;
  list-style: none;
  /* width: 20vw; */

  list-style: none;
  text-align: center;
  text-decoration: none;

  justify-content: center;
  align-items: center;
  text-align: center;
  /* background-color: yellow; */
  font-size: 2rem;
  color: green;
}

.page-item {
  margin-left: 1rem;
  width: 4rem;
  /* background-color: aqua; */
  border: 1px solid green;
  border-radius: 3px;
  /* background-color: green; */
}

.page-link {
  /* margin-right: 3rem; */
  font-size: 3rem;

  color: black;
  text-decoration: none;
  padding: 1rem;
}

/* .active {
  color: pink;
} */

.page-link:link,
.page-link:hover,
.page-link:active,
.page-link:focus {
  color: orange;
}

/* Individual list items */
/* #recipes__list-1 {
  color: red;
} */

/* #recipes__list-1 {
  grid-area: 1 / 1 / 2 / 2;
}
#recipes__list-2 {
  grid-area: 1 / 2 / 2 / 3;
}
#recipes__list-3 {
  grid-area: 1 / 3 / 2 / 4;
}
#recipes__list-4 {
  grid-area: 1 / 4 / 2 / 5;
}
#recipes__list-5 {
  grid-area: 2 / 1 / 3 / 2;
}
#recipes__list-6 {
  grid-area: 2 / 2 / 3 / 3;
}
#recipes__list-7 {
  grid-area: 2 / 3 / 3 / 4;
}
#recipes__list-8 {
  grid-area: 2 / 4 / 3 / 5;
}
#recipes__list-9 {
  grid-area: 3 / 1 / 4 / 2;
}
#recipes__list-10 {
  grid-area: 3 / 2 / 4 / 3;
}
#recipes__list-11 {
  grid-area: 3 / 3 / 4 / 4;
}
#recipes__list-12 {
  grid-area: 3 / 4 / 4 / 5;
  background-color: blue;
} */
