.recipes__container {
  display: flex;

  background-color: rgb(249, 244, 244);
  /* background-color: yellow; */
  padding: 0rem 15rem 0rem 15rem;
  /* height: 90vh; */

  flex-direction: column;
  /* justify-content: center;
    align-items: center; */
  /* width: auto; */
  height: 180vh;
}

.recipes__wrapper {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* flex-wrap: wrap; */
  /* background-color: aquamarine; */
  /* width: 100%; */
  /* grid-template-columns: 2fr; */
  height: 100%;
  /* grid-gap: 10rem; */
  /* justify-content: center;
  flex-wrap: wrap;
  width: 100%; */
  align-items: center;
  width: 100%;
}

.recipes-search__wrapper {
  padding-top: 3rem;
  align-items: center;
  justify-content: center;
  display: flex;
  /* background-color: rgba(230, 230, 230, 1); */
  height: auto;
  /* background-color: blue; */
}

.recipes__title {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3rem;
  padding-top: 2.5rem;
  font-weight: 500;
}

.recipes__all-container {
  height: 100%;
  /* background-color: blueviolet; */
  width: 100%;
}

.recipes__all-title {
  font-size: 2.5rem;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 2rem;
}

.recipes__all-list-wrapper {
  height: 25vh;
  /* background-color: red; */
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.recipes__img {
  width: 19vw;
  object-fit: cover;
  /* object-fit: contain; */
  height: 19vw;
  justify-content: center;
  align-items: center;
}

/* #recipes__list-1 {
  grid-area: 1 / 1 / 2 / 2;
}
#recipes__list-2 {
  grid-area: 1 / 2 / 2 / 3;
}
#recipes__list-3 {
  grid-area: 1 / 3 / 2 / 4;
}
#recipes__list-4 {
  grid-area: 1 / 4 / 2 / 5;
}
#recipes__list-5 {
  grid-area: 2 / 1 / 3 / 2;
}
#recipes__list-6 {
  grid-area: 2 / 2 / 3 / 3;
}
#recipes__list-7 {
  grid-area: 2 / 3 / 3 / 4;
}
#recipes__list-8 {
  grid-area: 2 / 4 / 3 / 5;
}
#recipes__list-9 {
  grid-area: 3 / 1 / 4 / 2;
}
#recipes__list-10 {
  grid-area: 3 / 2 / 4 / 3;
}
#recipes__list-11 {
  grid-area: 3 / 3 / 4 / 4;
}
#recipes__list-12 {
  grid-area: 3 / 4 / 4 / 5;
  background-color: blue;
} */
