/* .homepage {
  height: 100%;
  background-repeat: no-repeat;
  background-size: auto;
  align-items: center;
  width: auto;
} */

/* .homepage__wrapper {
  background-color: rgb(249, 244, 244);
  padding: 1rem 20rem;
} */

.homepage__title-area {
  display: flex;
  background-color: #fff;

  height: 12vh;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  width: auto;
  /* background-color: red; */
}

.homepage__title-h1 {
  font-size: 2.2rem;
  color: #3c341f;
  font-weight: 600;
}

.homepage-first__container {
  display: flex;
  background-color: rgb(249, 244, 244);
  padding: 5rem 15rem 2rem 15rem;
  /* height: 90vh; */
  height: auto;
  flex-direction: column;
  width: auto;
}

.homepage-first__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.homepage-first__card {
  width: 27rem;
  height: 40rem;
  /* border: 1px solid black; */
  margin: 1rem;
  /* background-color: red; */
}

.homepage-first__card:hover {
  cursor: pointer;
  /* background-color: aliceblue; */
  /* z-index: 100; */
}

.card__img {
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  align-items: center;
  border-radius: 3px;
  text-align: center;
}

.card-label {
  display: flex;
  font-size: 2rem;
  background-color: rgba(69, 176, 12, 1);
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 50%;
  font-weight: 500;
  padding: 0.2rem;
  color: #fff;
  margin-top: -10px;
  z-index: 1000;
}

.card__img--overlay {
  height: 100%;
  /* position: absolute; */
  /* top: 0;
  left: 0;
  right: 0;
  bottom: 0; */
  background-color: white;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  /* z-index: -1; */
}

/* .card__img:hover .card__img--overlay {
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
} */

.card__img:hover {
  transition: opacity 0.3s ease-in-out;
  opacity: 0.6;
}

.card__img-1 {
  background-image: url("../../images-src/homepage-main-5.jpg");
}

.card__img-2 {
  background-image: url("../../images-src/homepage-main-6.jpg");
}

.card__img-3 {
  background-image: url("../../images-src/homepage-main-7.jpg");
}

.card__img-4 {
  background-image: url("../../images-src/homepage-main-8.jpg");
}

.home__search-container {
  margin-top: 8rem;
}

.homepage-second__container {
  /* background-color: red; */
  display: flex;

  /* background-color: rgb(242, 106, 106); */
  /* background-color: green; */
  padding: 5rem 15rem;
  height: 150vh;
  flex-direction: row;
  /* justify-content: center;
  align-items: center; */
}

.homepage-second__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  height: 120vh;
  /* background-color: green; */
  width: 90rem;
  margin-top: 3rem;
}

.homepage-second__section-title {
  width: auto;
  margin: 2rem 3rem;
  font-size: 3rem;
  color: #6b5b31;
}

.homepage-second__card {
  display: flex;
  height: 25rem;
  padding: 1rem 3rem;
  /* background-color: red; */
  flex-direction: row;
  /* justify-content: center;
  align-items: center; */
  /* width: 100rem; */
}

.homepage-second__devider-line {
  width: auto;
  height: auto;
  background-color: rgba(60, 52, 31, 0.3);
  margin: 3rem 3rem;
  padding: 1px 3rem;
  /* background-color: red; */
}
.second-card__text {
  display: flex;
  font-size: 2rem;
  flex-direction: column;
  margin-left: 2rem;
  /* background-color: yellow; */
  width: 100rem;
  line-height: 2;
}

.second-card__title {
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 1rem;
  cursor: pointer;
}

.second-card__description {
  font-size: 1.7rem;
  text-align: justify;
}

.second-card__button-continue {
  text-decoration: none;
  color: rgba(69, 176, 12, 1);
  /* color: orange; */
  font-size: 2.3rem;
  font-weight: 600;
  margin-top: 3rem;
}

.second-card__button-continue:hover {
  color: #6b5b31;
}

.second-card__img {
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  align-items: center;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  width: 30rem;
}

.second-card__img:hover {
  transition: opacity 0.3s ease-in-out;
  opacity: 0.6;
}

.second-card__img-1 {
  background-image: url("../../images-src/homepage-second-1.jpg");
}

.second-card__img-2 {
  background-image: url("../../images-src/homepage-second-2.jpg");
}

.second-card__img-3 {
  background-image: url("../../images-src/homepage-second-3.jpg");
}

.dancng-font {
  font-family: "Dancing Script";
  font-weight: bold;
  font-size: 2.7rem;
}
