.search-container {
  margin-top: 0rem;
  font-size: 3rem;
  padding: 0rem 0rem 0 0rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.search-icon {
  position: absolute;
  justify-content: center;
  align-items: center;

  font-size: 40px;
  padding-left: 10px;
  padding-top: 10px;
  color: rgba(69, 176, 12, 1);
}

.search-input {
  width: 40rem;
  padding: 1rem;
  padding-left: 5rem;
  color: green;
  border: 2px solid rgba(69, 176, 12, 0.7);
  box-sizing: border-box;
}

.search-input:focus {
  outline: none !important;

  border: 2px solid rgba(69, 176, 12, 1);
  box-shadow: 0 0 5px rgba(69, 176, 12, 0.5);
}

/* .search-input::placeholder {
    padding-left: 40px;
  } */

.search__or-span {
  padding: 2rem;
  font-size: 2rem;
}

.search__view-all-link {
  text-decoration: none;
  font-size: 3rem;
}

.search__view-all-span:hover {
  transition: 0.3s ease-out;
  background-color: rgb(88, 198, 28);
  box-shadow: 0 0 5px rgba(69, 176, 12, 0.5);
}

.search__view-all-span {
  padding: 1.2rem 2rem;
  background-color: rgba(69, 176, 12, 1);
  color: #fff;
  cursor: pointer;
}

.search__value {
  margin-top: 2rem;
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: 5rem;
}

.search__value-div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-size: 2rem;
  line-height: 2;
  /* background-color: rgba(173, 255, 47, 0.5); */
  border-radius: 5px;

  width: 100%;
  display: table;

  /* overflow-y: auto; */
  overflow-y: scroll;
}

.search__value-link-returned {
  text-decoration: none;
  color: rgb(25, 63, 4);
  font-size: 2rem;
  display: flex;
  /* width: 30vw; */
  /* background-color: rgb(92, 92, 228); */
}

.search__value-wrapper {
  text-align: right;
  width: 100%;

  /* max-height: 100px; */
  border: 1px dotted rgba(69, 176, 12, 1);
  border-radius: 1px;
}
.search__value-wrapper:hover {
  background-color: rgba(218, 245, 177, 0.5);
  /* background-color: rgba(247, 182, 62, 0.5); */
}

.search__value-name {
  /* background-color: red; */
  flex-basis: 70%;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  /* border-right: 2px solid green; */
  margin: 1rem 1rem;
  font-size: 2rem;
  font-weight: 400;
}

.search__value-name:hover + .search__value-img-wrapper {
}
.search__value-name:hover + .search__value-img {
  /* display: block;
  opacity: 1;
  width: 7vw;
  height: auto;
  object-fit: cover;
  flex-direction: row; */
  transform: scale(1.05);
}

.search__value-img-wrapper {
  /* display: none; */

  padding: 1rem 1rem;
}

.search__value-img {
  width: 5vw;
  height: 5vw;
  object-fit: cover;
  flex-direction: row;
  /* border: 1px solid white; */
  border-radius: 5px;
}
.search__value-img:hover {
  transform: scale(1.25);
  transition: 0.35s ease-in-out;
}

.search__spoon-icon {
  font-size: 1.7rem;
  margin-right: 1rem;
  color: orange;
  margin-top: 0.5rem;
}
