.navbar {
  /* background-color: aqua; */
  width: auto;
  height: 15vh;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  padding: 1rem 200px;
  border-bottom: 1px solid rgba(230, 230, 230, 1);
  /* background-color: yellow; */
}

.navbar__title {
  margin-right: auto;
  font-size: 4rem;
  font-weight: 600;
  /* margin-left: 20rem; */
  cursor: pointer;
  text-decoration: none;
  color: black;
  /* background-color: aquamarine; */
  font-family: "Dancing Script", cursive;
}

.navbar__item-container {
  display: flex;
  font-size: 3rem;
  align-items: center;
  font-weight: 600;
}
.navbar__item {
  /* margin-left: 7rem;
  cursor: pointer; */

  /* margin-right: 7rem;
  font-size: 2.5rem;
  font-weight: 600;

  cursor: pointer;
  text-decoration: none;
  color: black;
  background-color: aquamarine; */
}

.navbar__item-link {
  cursor: pointer;
  text-decoration: none;
  font-size: 3rem;
  color: black;
  margin-right: 7rem;
}

/* .navbar__item-link:focus {
  color: orange;
} */

.navbar__item-link.active {
  color: orange;
}

.navbar__search {
  font-size: 3rem;
  cursor: pointer;
}
