.footer {
  background-color: rgb(254, 196, 127);
  height: 35vh;
}

.footer__container {
  padding: 2rem 15rem;
  margin: 0 3rem;
  display: flex;
  justify-content: space-between;
  /* background-color: blueviolet; */
}

.footer__sns {
}

.footer__sns-wrapper {
  /* background-color: blue; */
  height: 20vh;
  margin-top: 2rem;
}

.footer__sns-icons {
  text-decoration: none;
  color: #3c341f;
  font-size: 5rem;
  margin-right: 1rem;
  /* background-color: aqua; */
}

.footer__sns-icons:hover {
  color: rgba(69, 176, 12, 1);
}

.footer__title {
  margin-bottom: 2rem;
}
.footer__copyright {
  font-size: 1.5rem;
}

.footer__newsletter-wrapper {
  font-size: 7rem;
  background-color: orange;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem 1.5rem;
  margin-top: 2rem;
  border-radius: 5px;
  padding-left: 2rem;
  height: 20vh;
}

.footer__newsletter-title {
  font-size: 2.5rem;
  font-weight: 500;
  margin-top: 1rem;
  color: #3c341f;
}

.footer__newsletter-container {
  align-items: center;
  justify-content: center;
}

.footer__form {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: blue; */
  margin-top: 1rem;
}

.footer__newsletter-container {
  display: flex;
  flex-direction: column;
}

.form__items {
  margin-right: 1rem;
  font-size: 2rem;
  padding: 1rem;
  border: none;
  border-radius: 5px;
}

.form__button {
  background-color: rgba(69, 176, 12, 1);
  border: none;
  color: white;
  /* padding: 15px 32px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  font-size: 2rem;
  padding: 1rem 2rem;
  cursor: pointer;
  border-radius: 5px;
}

#newsletter__status {
  font-size: 2rem;
}

#newsletter__submit-status.newsletter__status-success {
  color: green;
  animation: newsletter__submit-status 4s ease forwards;
}

#newsletter__submit-status.newsletter__status-fail {
  color: red;
  animation: newsletter__submit-status 4s ease forwards;
}

/* Hiding the success/fail status bar */

@keyframes newsletter__submit-status {
  0% {
    opacity: 1;
    pointer-events: all;
  }

  90% {
    opacity: 1;
    pointer-events: all;
  }

  100% {
    opacity: 0;
    pointer-events: none;
  }
}
